.footer li,
a {
    color: #4b5f64;
    text-decoration: none;
}

.customizefooter {
    display: grid;
    grid-template-columns: 1fr;
    //justify-content: space-between;
    align-items: center;
    //padding: 0px 20%;
    //height: 40px;
    margin: auto;
}


.footerInfo li {
    display: inline-block;
    text-align: center;
    padding: 0px 20px;
}

